<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Labs</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/IMG/bb.png" type="image/x-icon">

    <link rel="stylesheet" href="/Frontend/CSS/homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>
   
  <%- include('navbar'); -%>


      <div class="card-fluid rounded-0 mx-auto bg-dark" style="width:85%">
        <img class="card-img" src="../../IMG/RE3em0K.webp" alt="AI" width="100%" height="550px" >
        <div class="card-img-overlay">
          <h1 class="card-title display-4 font-weight-bold text-white txt1">AI Lab</h1>
          <p class="card-text text-white  txt2">Explore, learn and code with Blackbucks!</p>
        </div>
    </div>
    <div class="jumbotron bg-white text-center m-4">
        <h1 class="heading font-weight-bold m-4">Popular Projects</h1>
        <p class="caption h4">Explore our most popular projects.</p>      
      </div>
      <div class="card-deck m-5 mx-auto" style="width:90%">
        <%for(var i=0,j=0; i<a1.length && j<4 ; ++i) { %>
          <% if(a1[i].status) { %>
            <%j++%>
        <div class="card" >
          <img class="card-img-top" src=<%= `${a1[i].img}` %> alt="Card image cap" height="250">
          <div class="card-body">
            <h5 class="card-title"><%=a1[i].title%></h5>
            <p class="card-text"><%=a1[i].description%></p>
          </div>
          <div class="card-footer bg-white p-0 pl-2">
            <p class="card-text m-0"><small><%=a1[i].username%></small></p>
            <p class="card-text m-0"><small class="text-muted"><%=a1[i].college%></small></p>
            <a href="/view/<%= a1[i].id %>" class="card-text m-0 p-0 "><p class="text-right m-0 p-0 pr-1"><small>View more</small></p></a>
        </div>
        </div>
        <%}%>
        <%}%>
        </div>     
      <div class="container text-center">
        <a class="link m-5" href="/allProjects"><h3>Browse all Projects</h3></a>  
      </div>  

        <div class="jumbotron bg-white text-center m-2">
          <h1 class="heading m-4 font-weight-bold">Popular Blogs</h1>
          <p class="caption h4">Explore our most popular blogs.</p>    
        </div>
        <div class="card-deck m-5 mx-auto" style="width:90%">
          <%for(var i=0,j=0; i<a2.length && j<4 ; ++i) { %>
            <% if(a2[i].status) { %>
              <%j++%>
          <div class="card" >
            <img class="card-img-top" src=<%= `${a2[i].image}` %> alt="Card image cap" height="250">
            <div class="card-body">
              <h5 class="card-title"><%=a2[i].title%></h5>
              <p class="card-text"><%=a2[i].description%></p>
            </div>
            <div class="card-footer bg-white p-0 pl-2">
              <p class="card-text m-0"><small><%=a2[i].username%></small></p>
              <p class="card-text m-0"><small class="text-muted"><%=a2[i].college%></small></p>
              <a href="/view/<%= a2[i].id %>" class="card-text m-0 p-0 "><p class="text-right m-0 p-0 pr-1"><small>View more</small></p></a>
          </div>
          </div>
          <%}%>
          <%}%>
        </div>  
        <div class="container text-center">
          <a class="link m-5" href="/allBlogs"><h3>Browse all blogs</h3></a>  
        </div>   
       

      
<%- include('footer'); -%>